h1 {font-family: cambria; color: black; font-size: 60px;
background-color:grey; opacity: 0.85; filter:alpha(opacity=40);}
body {font-family: cambria; color: slateblue; font-size: 24px;
   ; background-color: LightSteelBlue;}
    }

#block {background-image: url('looking.jpg.')}