<!DOCTYPE html>
<html>
<head>
    <title>Greet <%= @name %></title>
    <link rel='stylesheet' href='bootstrap/css/bootstrap.css'>
</head>
<body>
    <div class='container'>
        <h1>"Hello <%= @name %> !
            <br>
            your emails address is.... <%= @email %>"
        </h1>
        you run a <%= @user_OS %> thingie on your laptop computer type thingiemabobbindoodledumdeedum.
    </div>
</body>
</html>